#log_area {
  height: 250px;
  margin-left: 20px;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
  /*float: right;*/
  /*display: flex;
  flex-direction: column;*/
  display: table-cell;
  width: 700px;
}
ul {
  list-style: none;
  margin-top: 0px;
}
li {
  margin-bottom: 3px;
}

h1 {
  text-align: center;
}
#status div {
  display: table-cell;
    width: 1%;
    white-space: nowrap;
    vertical-align: top;
}
#status {
  display: table;
  width: 100%;
/*
  margin: auto;
  display: table;
*/
    /*overflow: auto;*/
}

.cards-section {
  display: table;
  /*margin: auto;*/
}

.cards {
  display: table-cell;
}

.button_cards {
  vertical-align: middle;
}

.cards p {
  text-align: center;
  margin: 0;
  min-width: 10px;
}
.active_card {
  background-color: grey;
}
.cards img {
  max-width: 100%;
  max-height: 250px;
}
.offline {
  text-decoration: line-through;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.reveal-buttons {
  text-align: center;
}