<!DOCTYPE html>
<!--suppress XmlUnboundNsPrefix, HtmlUnknownAttribute, HtmlUnknownTag -->
<html>
<head>
  <title>Basic Oriflamme Client</title>
  <script src="https://fr.vuejs.org/js/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="oriflamme/css.css">
</head>
<body>
<div id="app">
  <div id="login" v-if="!logged">
    <input v-model="name" @keyup.enter="login" placeholder="Name">
    <button id="login_button" v-on:click="login">Login</button>
  </div>
  <template v-else>
    <button v-if="currentGame" v-on:click="leaveGame">Leave game {{ currentGame.name }}</button>
    <div v-if="!currentGame || !currentGame.started">
      <p>Logged players: {{ lobbyPlayersNames }}</p>
      <span>Games:</span>
      <ul>
        <template v-for="(game, gameName) in games">
          <li>{{ gameName }} ({{ game.players.map(p => players[p].name).join(", ") }})
            <button v-if="!currentGame && game.players.length < game.maxPlayers" v-on:click="joinGame(gameName)">Join</button>
            <button
                v-if="currentGame && currentGame.name === gameName && game.players.length >= game.minPlayers && playerId === game.leaderId"
                v-on:click="startGame">
              Start
            </button>
          </li>
        </template>
        <li v-if="!currentGame"><input v-model="newGameName" @keyup.enter="createGame" placeholder="Game name">
          <button v-on:click="createGame">Create game</button>
        </li>
      </ul>
    </div>
    <div v-else>
      <h1>Status</h1>
      <div id="status">
        <div>
          <h3>Round {{ currentGame.round.roundNumber }}, phase {{ currentGame.phase }}</h3>
          <h3>Turn of {{ players[currentGame.playerTurnId].name }}</h3>
          <h3>Players order</h3>
          <ul v-for="playerId in currentGame.round.playersOrder">
            <li v-bind:class="{ offline: !players[playerId].logged }">
              <span class="dot" v-bind:style="{ 'background-color': players[playerId].color }"></span>
              {{ players[playerId].name }}: {{ players[playerId].influence }}
            </li>
          </ul>
        </div>
        <textarea v-model="arrayLogs.join('\n')" id="log_area"></textarea>

      </div>
      <h1>Board</h1>
      <div class="cards-section">
        <div class="button_cards cards">
          <button v-if="clickedHandCardName" v-on:click="clickPosition('LEFT')">LEFT</button>
        </div>
        <template v-for="stack in currentGame.board">
          <div class="button_cards cards">
            <button v-on:click="moveCard('left', stack)" v-if="movingCard">Here</button>
          </div>
          <div class="cards">
            <template v-for="card in stack.slice().reverse()">
              <div>
                <p v-bind:class="{ 'active_card': currentGame.activeCardId === card.cardId }">
                  {{ card.kind }} {{ card.influence }}
                </p>
                <img v-on:mouseover="hoveredCard(card.cardId)"
                     v-on:mouseleave="hoveredCard(null)"
                     v-on:click="clickBoardCard(card)"
                     v-bind:src="boardCardUrl(card)">
                <div class="reveal-buttons"
                     v-if="playerId === card.playerId && currentGame.activeCardId == card.cardId && currentGame.prompt === 'REVEAL'">
                  <button v-on:click="revealCard(card, 'REVEAL')">REVEAL</button>
                  <button v-on:click="revealCard(card, 'DO_NOT_REVEAL')">HIDE</button>
                </div>
              </div>
            </template>
          </div>
        </template>
        <div class="button_cards cards">
          <button v-on:click="moveCard('right', -1)" v-if="movingCard">Here</button>
        </div>
        <div class="button_cards cards">
          <button v-if="clickedHandCardName" v-on:click="clickPosition('RIGHT')">RIGHT</button>
        </div>
      </div>
      <h1>Hand</h1>
      <div class="cards-section">
        <template v-for="card in currentGame.hand">
          <div class="cards">
            <img v-on:click="clickHandCard(card.kind)"
                 v-bind:src="'oriflamme/cards/' + players[card.playerId].color.toLowerCase() + '_' + card.kind.toLowerCase() + '.png'">
          </div>
        </template>
      </div>
    </div>
  </template>
</div>
<script src="oriflamme/script.js"></script>
</body>
</html>
